body {
  background-color: #094663;
}

.App {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

.block {
  display: inline-block;
}

.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; 
}

.half{
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}

.blue {
  font-size: 1.7em;
  color: rgb(199, 233, 255);
}

.id {
  position: absolute;
  font-size: 1.2em;
  padding: .5em;
  right: calc(50% - 0.8em);
  top : 0px;
  margin: 0;
}

.pagi{
  position: absolute;
  top : 1.5em; right : 2em;
}

h1 {
  text-align: center;
}

code {
  background-color : #777777;
  border-radius: 10px;
  padding : 2px 5px 2px 5px ;
}

.profileBox {
  margin : 20px;
  background-color : #6faef5;
  border-radius: 10px;
  height : 275px;
  width : 250px;
  text-align: center;
  position: relative;
  box-shadow: 0 0 0.5em 0.2em #2c69af;
  cursor: pointer;
  transition: all 0.1s;

  &:hover{
    transform: scale(1.05);

    .poke-sprite{
      // animation: spriteGrow infinite .5s;
    }
  }
}

.counterID {
  margin : 10px 20px 10px 0
}

.poke-sprite{
  width: 70%;
}

// @keyframes spriteGrow {
//   0%   {transform: scale(1)}
//   25%  {transform: scale(1.2)}
//   75%  {transform: scale(0.5)}
//   100%   {transform: scale(.9)}
// }